// Body
$body-bg: #16263D;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$font-primary: 'Nunito', sans-serif;
$font-secondary: 'Roboto', sans-serif;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$color-secondary: #9EB4CC;
$color-primary: #fafafa;

$color-light-blue: #233c5f;
$color-gradient-left: #256EFF;
$color-gradient-right: #3DDC97;

@mixin gradient {
    background-repeat: no-repeat;
    background-image: -webkit-linear-gradient(45deg, $color-gradient-left, $color-gradient-right);
    background-image: linear-gradient(45deg, $color-gradient-left, $color-gradient-right);
    opacity: .85;
}

@mixin gradient-darker {
    background-repeat: no-repeat;
    background-image: -webkit-linear-gradient(45deg, darken($color-gradient-left, 10), darken($color-gradient-right, 10));
    background-image: linear-gradient(45deg, darken($color-gradient-left, 10), darken($color-gradient-right, 10));
    opacity: .85;
}
