// Body
$body-bg: #16263D;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


@mixin gradient {
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(45deg, #14a5d3, #20baa0);
    background-image: linear-gradient(45deg, #14a5d3, #20baa0);
    opacity: .85;
}
