// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~vue-slick-carousel/src/slick-theme.css";

html, body {
    min-height: 100%;
}

.btn-astro {
    @include gradient;
    color: white;
    font-weight: 700;
    transition: 0.5s;

    &:hover {
        @include gradient-darker;
        color: white;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: $body-bg;
    color: white;

    .navbar {
        transition: 0.5s;
        color: $body-bg;
        background-color: $color-primary;
    }

    .nav-transparent {
        background-color: rgba(255, 255, 255, 0.1) !important;
    }

    .pt-nav {
        padding-top: 100px;
    }

    .bg-moon{
        background-image: url('/images/moon_sm.jpg');
        background-position: center center;
        background-size: cover;
    }
}

section {
    margin-top: 50px;
    margin-bottom: 50px;
}

h1 {
    font-family: $font-primary;
    font-size: 96px;
    font-weight: 700;
}

h2 {
    font-family: $font-primary;
    font-size: 32px;
    font-weight: 700;
}

h3 {
    font-family: $font-secondary;
    font-size: 16px;
    font-weight: 700;
}

.subtitle {
    font-family: $font-secondary;
    font-size: 32px;
    font-weight: 500;
}

p {
    font-family: $font-secondary;
}

.sub-gradient {
    position: relative;
    margin-bottom: 30px;

    &:before {
        content: "";
        position: absolute;
        width: 100px;
        height: 5px;
        bottom: -20px;
        left: 0;
        @include gradient;
    }
}

.bg-light-blue{
    background-color: $color-light-blue;
}
